.groupIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.akarIconsinstagramFill {
  height: 48px;
  width: 45px;
  box-shadow: 0 4px 12px rgba(29, 29, 29, 0.15);
  border-radius: var(--br-12xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
