.bgImageIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.letsfood {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 116px;
  z-index: 1;
}
.letsfoodWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
}
.food2Icon {
  height: 47px;
  width: 47px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.frameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.jalanSemangkaRaya {
  margin: 0;
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.vectorIcon {
  height: 18px;
  width: 9.3px;
  position: relative;
}
.bxbxlFacebook {
  height: 48px;
  width: 46px;
  box-shadow: 0 4px 24px rgba(29, 29, 29, 0.25);
  border-radius: var(--br-12xl);
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.akarIconsinstagramFillParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frameGroup,
.jalanSemangkaRayaTelagaMuParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.jalanSemangkaRayaTelagaMuParent {
  align-self: stretch;
  gap: var(--gap-13xl);
  font-size: var(--headline-size);
  color: var(--text-light);
}
.frameGroup {
  flex: 1;
  gap: var(--gap-4xl-5);
  min-width: 247px;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.aboutUs,
.career,
.company,
.howItWork {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.company {
  font-weight: 500;
  min-width: 93px;
}
.aboutUs,
.career,
.howItWork {
  min-width: 80px;
}
.career,
.howItWork {
  min-width: 58px;
}
.howItWork {
  min-width: 111px;
}
.aboutUsParent {
  gap: var(--gap-base);
  font-size: var(--body-medium-18-size);
  color: var(--text-light);
}
.aboutUsParent,
.companyParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.companyParent {
  gap: var(--gap-12xl);
}
.frameWrapper {
  width: 280px;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.faq,
.policy,
.privacy,
.shipping {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.policy {
  font-weight: 500;
  min-width: 59px;
}
.faq,
.privacy,
.shipping {
  min-width: 37px;
}
.privacy,
.shipping {
  min-width: 64px;
}
.shipping {
  min-width: 78px;
}
.faqParent {
  gap: var(--gap-base);
  font-size: var(--body-medium-18-size);
  color: var(--text-light);
}
.faqParent,
.frameDiv,
.policyParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.policyParent {
  gap: var(--gap-12xl);
}
.frameDiv {
  width: 180px;
  padding: var(--padding-mini-5) 0 0;
  box-sizing: border-box;
}
.getInTouch {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 127px;
  z-index: 1;
}
.div,
.foodexamplecom {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--body-medium-18-size);
  color: var(--text-light);
}
.getInTouchParent {
  flex-direction: column;
  gap: var(--gap-12xl);
}
.frameParent,
.frameWrapper1,
.getInTouchParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper1 {
  flex-direction: column;
  padding: var(--padding-mini-5) 0 0;
}
.frameParent {
  width: 1072px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frameChild {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
}
.frameChild,
.letsfoodAllRight {
  position: relative;
  z-index: 1;
}
.footer,
.letsfoodAllRightReservedWrapper,
.lineParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.letsfoodAllRightReservedWrapper {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-36xl);
}
.footer,
.lineParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-26xl);
  font-size: var(--font-size-base);
}
.footer {
  padding: var(--padding-65xl-5) var(--padding-111xl) var(--padding-28xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-72xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--headline-size);
  color: var(--black);
  font-family: var(--body-text);
}
@media screen and (max-width: 750px) {
  .lineParent {
    gap: var(--gap-3xl);
  }
  .footer {
    gap: var(--gap-26xl);
    padding: var(--padding-36xl) var(--padding-46xl) var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .letsfood {
    font-size: var(--font-size-lgi);
  }
  .jalanSemangkaRaya {
    font-size: var(--font-size-base);
  }
  .jalanSemangkaRayaTelagaMuParent {
    gap: var(--gap-base);
  }
  .company,
  .getInTouch,
  .policy {
    font-size: var(--font-size-base);
  }
  .footer,
  .letsfoodAllRightReservedWrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    gap: var(--gap-4xl);
    padding-right: var(--padding-xl);
  }
}
